
.container { 
    display: flex; 
     border-bottom: 1px solid var(--light-purple);
} 

@media(max-width:768px) {
    .container {
        flex-direction: column;
        padding: 16px;
    }
}

.about-me {
    flex-grow: 1;
    padding: 0 136px 160px; 
}

@media(max-width:768px) {
    .about-me {
        padding: 16px;
    }
}

.aside {
    border-left: 1px solid var(--light-purple); 
    padding: 60px;
    display: flex;
    align-items: center;
    flex-direction:column;
}

@media(max-width:768px) {
    .aside {
        border: none;
    }
}

.image {
    width: 190px;
    height: 190px;
    margin-top: 15px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 2px 20px rgba(0,0,0.20);
    
}

.subtitle, .text {
    text-align: center;
    
}

.subtitle{
    margin-top: 80px;
    font-size: 30px;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 4px;
}

@media(max-width:768px) {
    .subtitle {
        margin-top: 55px;
        font-size: 27px;
           
    }
}

.subtitle::before{
    content: "●";
    color: var(--strong-purple);
    margin-right: 10px ;
}

.text{
    margin-top: 35px;
    font-size: 25px;
}

@media(max-width:768px) { 
    .text {
        width: 100%;
    }
        
}

.link{
    width: 150px;
    height: 50px;
    margin-top: 100px;
    border: none;
    padding-top: 10px;
    padding-left: 5px;
    font-family: var(--primary-font);
    font-size: 25px;
    border-radius: 25px;
    background-color: var(--light-purple);
    transition: box-shadow 0.1s;
    text-decoration: none;
    color: black;
    text-align: center;
    
}

.link:hover {
    box-shadow: 0 0 15px rgba(0,0,0.24);
}


.logo {
    width: 60px;
    height: 60px;
    border-radius: 82px;
    box-shadow:  5px 2px 20px rgba(0,0,0.24);
 
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    gap: 250px;
       
}

@media(max-width:768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 12px;

    }
}
  
.logo{
    border-radius:30px;
    width: 60px;
    height: 60px;
    background-color: var(--strong-purple);
    
}

.footer__link{
    text-decoration: none;
    color: black;
    margin-top: 18px;
    font-size: 30px; 
    display: flex;
    align-items: center;
    gap: 75px;

}

@media(max-width:768px) {
    .footer__link {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 15px;
    }
}

