
.container{ 
    display: flex; 
    border-bottom: 1px solid var(--light-purple); 
   
}


.about-me{
    flex-grow: 1;
    padding: 0 136px 160px; /*253*/
    

}


.aside{
    border-left: 1px solid var(--light-purple);
    padding: 60px;
    display: flex;
    align-items: center;
    flex-direction:column;
}

.image{
    width: 190px;
    height: 190px;
    margin-top: 15px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 5px 15px rgba(0,0,0,0.24);
    
}

.subtitle, .text {
    text-align: center;
    
}

.subtitle{
    margin-top: 80px;
    font-size: 30px;
    text-transform: uppercase;
    word-spacing: 5px;
    letter-spacing: 4px;
}

.subtitle::before{
    content: "●";
    color: var(--strong-purple);
    margin-right: 10px ;
}

.text{
    margin-top: 35px;
    font-size: 25px;
}

.link{
    width: 150px;
    height: 50px;
    margin-top: 100px;
    border: none;
    padding-top: 10px;
    padding-left: 5px;
    font-family: var(--primary-font);
    font-size: 25px;
    border-radius: 25px;
    background-color: var(--light-purple);
    transition: box-shadow 0.1s;
    text-decoration: none;
    color: black;
    text-align: center;
    
}

.link:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.24);
}


.image-logo {
   
    width: 60px;
    height: 60px;
    border-radius: 82px;
    box-shadow: 10px 5px 15px rgba(0,0,0,0.24);
    
   
}

.footer, .logo{
    border-radius:30px;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.logo{
    background-color: var(--strong-purple);
    margin-top: 50px;

}

.LinkedIn {
    margin-left: 180px;
   
}

.GitHub, .Gmail {
    margin-left: 400px ;
}

/* .rede-social {
    padding-top: 20px;
    margin-left: 50px;
    font-size: 30px; 
}*/


a {
    text-decoration: none;
    color: black;

}

.text-logo {
    
    margin-left: 80px;
    margin-top: 18px;
    font-size: 30px;
}
