.author-tag {
  margin: auto 0 27px;
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.25s ease-in-out;
  font-weight: bold;
  font-size: 0.875rem;

  @include use-above("lg") {
    position: absolute;
    bottom: 24px;
    left: 80px;
    transform: translateX(0);
    margin-bottom: 0;
  }
}
