@import "../utils/mixins";

.home {
  display: grid;
  grid-template:
    "image"
    "description"
    "links";
  text-align: center;
  justify-items: center;
  padding: 0 2rem;

  @include use-above("lg") {
    grid-template:
      "image description"
      "links links";
    gap: 100px 24px;
    align-items: center;
  }

  &__image {
    width: 240px;
    height: 240px;
    position: relative;
    z-index: 1;
    grid-area: image;
    justify-self: center;

    @include use-above("lg") {
      justify-self: end;
      width: 446px;
      height: 446px;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      border: 1px solid var(--primary-color);
      position: absolute;
      border-radius: 50%;
      left: -26px;
      z-index: 2;
    }
  }

  &__description {
    grid-area: description;
    max-width: 595px;
    text-align: center;
    margin-top: 36px;

    @include use-above("lg") {
      text-align: left;
      margin-top: 0;
    }
  }

  &__text {
    color: var(--text-color);
    font-size: 1rem;

    @include use-above("lg") {
      font-size: 1.5rem;
    }

    & + & {
      margin-top: 30px;
    }
  }

  &__links {
    grid-area: links;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 12px 34px;

    @include use-above("lg") {
      gap: 0 60px;
      margin-top: 0;
    }
  }

  &__link {
    font-size: 1.375rem;
    transition: all 0.2s ease-in-out;
    flex: 1;

    &:hover {
      color: var(--primary-color);
      font-weight: 700;
    }

    @include use-above("lg") {
      font-size: 2rem;
    }
  }
}
